/*.gm-style-iw + div {display: none;}*/
.gm-style-cc {
	display: none !important;
}

.gm-style a[href^="https://maps.google.com/maps"] {
	display: none !important;
}

hr{
	border-width: 2px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

body {
	margin: 0;
	padding: 0; 
	background: #f5f5f5;
}

#app {
	margin: 0 auto;
	width: 100%;
	background: white; 
	border-radius: 5px;
	padding: 20px;
}

#map{
	padding-bottom: 35%;
	border: 1px solid #dddddd;
}

p{
	font-size: large;
}

p br{
	display: none;
}

h3{
	font-size:large;
	font-weight: bold;
}

input.form-control{
	font-size: large
}

div .menu1, .menu2, .menu3, .menu4{
  float:left;
  width:25%;
  text-align:center;
}

td,th{
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	font-size: large;
	height: 71px;
}

th{
	border: 1px solid white;
	background-color: #dddddd;
}

td br{
	display: none;
}

@media screen and (max-width: 1024px){
	#map{
		padding-bottom: 50%;
	}
}

@media screen and (max-width: 768px){
	#map{
		padding-bottom: 75%;
	}

	input.form-control {
		font-size: medium;
	}

	td,th{
		padding: 1px;
	}
	td br{
		display: inline;
	}
	td#hideTd1,td#hideTd2,th#hideTh1,th#hideTh2{
		display: none;
	}
	td#nextStopTd,th#nextStopTh{
		width: 26%;
	}

	div .menu1, .menu2, .menu3, .menu4{
    width:50%;
  }
}

@media screen and (max-width: 425px){
	p{
		font-size: medium;
	}
	p br{
		display: inline;
	}
	h3{
		font-size:medium;
		font-weight: bold;
	}

	td,th{
		font-size: medium;
	}
}

@media screen and (max-width: 320px){
	p{
		font-size: small;
	}
	input.form-control {
		font-size: small;
	}
}


table {
	font-family: arial, sans-serif;
	table-layout: fixed; 
	word-wrap: break-word;
	border-collapse: collapse;
	width: 100%;
}

table#result_content:hover {
    background-color: #eeeeee;
}
